<section class="py-1 rounded" th:fragment="detail-item">
    <div class="container px-4 px-lg-5 my-3 bg-light">
        <div class="row gx-4 gx-lg-5 align-items-center ">
            <div class="container mt-3">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="row product-container">
                            <div class="col-lg-5 col-md-5 col-sm-12 mt-3 mb-3">
                                <div class="white-box text-center img-thumbnail"><img
                                        th:src="@{|/shop/image/product/${product.hinhAnh}|}" class="w-75 h-50">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div>
                                    <h4 class="box-title mt-3 fw-bold mb-4 product-name" th:utext="${product.tenSach}">
                                    </h4>
                                    <span class="text-bg-warning p-2 rounded-3 fw-bold"
                                        th:utext="${product.tinhTrangSanPham.tenTinhTrang}"></span>
                                </div>

                                <h5 class=" mt-3" th:utext="'Tác giả: ' + ${product.tacGia}"></h5>

                                <div th:if="${product.tinhTrangSanPham.id == 2}">
                                    <div class="btn text-bg-warning mt-5">
                                        TẠM HẾT HÀNG
                                    </div>
                                </div>
                                <div th:if="${product.tinhTrangSanPham.id == 1 || product.tinhTrangSanPham.id == 3}">
                                    <div th:if="${product.tiLeGiamGia == 0}">
                                        <h4 class="text-warning fw-bold"
                                            th:text="${#numbers.formatDecimal(product.giaBan, 3, 'POINT', 0, 'POINT')} + ' đ'">
                                        </h4>
                                    </div>
                                    <div th:if="${product.tiLeGiamGia > 0}" class="d-flex">
                                        <h4 class="text-warning fw-bold"
                                            th:text="${#numbers.formatDecimal(product.giaGiam, 3, 'POINT', 0, 'POINT')} + ' đ'">
                                        </h4>
                                        <small class="text-warning fw-bold ms-2 me-2"
                                            th:utext="${product.tiLeGiamGia} + '%'"></small>
                                        <span class="fw-lighter text-decoration-line-through"
                                            th:text="${#numbers.formatDecimal(product.giaBan, 3, 'POINT', 0, 'POINT')} + ' đ'"></span>
                                    </div>
                                    <h4 class="mt-2">Số lượng: <span th:utext="${product.soLuong}"></span></h4>

                                    <div class="d-flex mb-3 w-25 mt-2" id="quantityDetailProduct">
                                        <button class="btn btn-outline-secondary px-3 me-2"
                                            onclick="decrementQuantity()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <div class="form-outline">
                                            <input id="quantity" min="1" name="quantity" value="1"
                                                th:max="${product.soLuong}" type="number"
                                                class="form-control text-center" readonly />
                                        </div>

                                        <button class="btn btn-outline-secondary px-3 ms-2"
                                            onclick="incrementQuantity()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                    <button class="btn btn-outline-warning add-to-cart fw-bold btn-rounded me-3 p-3"
                                        th:data-isbn="${product.isbn}">Thêm vào giỏ hàng <i
                                            class="fas fa-cart-plus"></i></button>
                                    <a class="btn text-bg-warning mt-auto buynow p-3 fw-bold" th:href="@{/shop/buy-now}"
                                        th:data-isbn="${product.isbn}">Mua ngay</a>
                                    <button class="ms-5 btn border border-dark btn-rounded p-2" title="Add to favorite"
                                        id="addToFavoriteBtn"><i class="far fa-heart fs-4"></i></button>
                                </div>

                                <h4 class="box-title mt-3">Thông tin sản phẩm</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-product">
                                        <tbody>
                                            <tr>
                                                <td>Nhà xuất bản:</td>
                                                <td th:utext="${product.nhaXuatBan.tenNhaXuatBan}"></td>
                                            </tr>
                                            <tr>
                                                <td>Năm xuất bản:</td>
                                                <td th:utext="${product.namXuatBan}"></td>
                                            </tr>
                                            <tr>
                                                <td>Hình thức bìa:</td>
                                                <td th:utext="${product.kieuBia}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12">
                            </div>
                        </div>
                        <div class="row ms-1">
                            <div class="col-2">
                                <p class="fs-5 border border-dark p-2 rounded-3">Mô tả sản phẩm</p>
                            </div>
                            <div>
                                Cuốn sách "Kỹ năng biên tập" là một tài liệu hữu ích dành cho những người làm việc trong
                                lĩnh
                                vực
                                biên tập văn bản, từ người mới bắt đầu cho đến những biên tập viên có kinh nghiệm. Cuốn
                                sách
                                cung
                                cấp một cái nhìn tổng quan về các kỹ năng và kiến ​​thức cần thiết để trở thành một biên
                                tập
                                viên
                                hiệu quả.
                            </div>
                            <hr class="w-75 mx-auto mt-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-3">
            <div class="row">
                <div class="col-3">
                    <p class="fs-5 border border-dark p-2 rounded-3">Đánh Giá Sản Phẩm</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 mb-3 border-end">
                    <div class="row mb-2">
                        <div class="col-md-6">Số lượng đánh giá: 12 Đánh giá</div>
                        <div class="col-md-6">Tổng điểm đánh giá: 4.5 <i class="bi bi-star-fill"></i></div>
                    </div>
                    <p>Số lượng đánh giá:</p>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <ul class="list-unstyled">
                                    <li class="mb-2">
                                        Đánh giá: <span class="text-warning ms-1">★★★★★</span> <span class="ms-1"> 5
                                            đánh giá</span>
                                    </li>
                                    <li class="mb-2">
                                        Đánh giá: <span class="text-warning ms-1">★★★★☆</span> <span class="ms-1"> 4
                                            đánh giá</span>
                                    </li>
                                    <li class="mb-2">
                                        Đánh giá: <span class="text-warning ms-1">★★★☆☆</span> <span class="ms-1"> 3
                                            đánh giá</span>
                                    </li>
                                    <li class="mb-2">
                                        Đánh giá: <span class="text-warning ms-1">★★☆☆☆</span> <span class="ms-1"> 2
                                            đánh giá</span>
                                    </li>
                                    <li class="mb-2">
                                        Đánh giá: <span class="text-warning ms-1">★☆☆☆☆</span> <span class="ms-1"> 1
                                            đánh giá</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6 text-center">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Xem đánh giá
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                    <!-- Chỉ có thành viên mới có thể nhận xét. Vui lòng <a th:href="@{/shop/auth/login}"
                        class="text-primary text-decoration-none">Đăng nhập</a>. -->

                    <form method="post">
                        <input type="text" id="productId" th:value="${product.isbn}" hidden>
                        <h4>Thêm một bài đánh giá</h4>
                        <p>Đánh giá của bạn :</p>
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5" ng-model="rating"/><label for="star5"
                                title="5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" ng-model="rating"/><label for="star4"
                                title="4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" ng-model="rating"/><label for="star3"
                                title="3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" ng-model="rating"/><label for="star2"
                                title="2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" ng-model="rating"/><label for="star1"
                                title="1 star"></label>
                        </div>

                        <br />

                        <textarea name="review" ng-model="comment" placeholder="Đánh giá" class="w-75 p-2" rows="3"></textarea>

                        <br />

                        <button ng-click="submitReview()" id="submitReviewBtn"
                            class="p-1 rounded-3 btn btn-outline-warning float-end">Đánh
                            giá</button>
                    </form>
                </div>
            </div>
            <hr class="w-75 mx-auto">
        </div>
    </div>
</section>