<footer class="py-5 bg-dark" th:fragment="footer">
	<!-- place footer here -->
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<a th:href="@{/shop/home}">
				<img th:src="@{/shop/image/img-logo-removebg-preview.png}" alt="Logo" class="img-fluid mx-auto">
			</a>
		</div>
		<div class="col-md-4"></div>
		<div class="text-center text-white mt-1 mb-1">© 2024 - Bản quyền của Công
			ty TNHH Knotrea. <a th:href="@{/shop/about-us}" class="text-decoration-none"> Liên hệ với chúng tôi.</a>
		</div>
	</div>
</footer>