<!-- Navigation-->
<header class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav">
	<div class="container">
		<!-- Logo -->
		<div class="w-25">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/shop/image/img-logo-removebg-preview.png}" alt="Logo" width="100%" height="auto">
			</a>
		</div>

		<!-- Tìm kiếm -->
		<form class="d-flex">
			<input class="search form-control me-2" type="search" placeholder="Tìm kiếm..." aria-label="Search">
			<button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i> Tìm</button>
		</form>

		<div class="d-flex">
			<!-- Nút Giỏ hàng -->
			<a class="btn btn-outline-dark" type="button" th:href="@{/shop/auth/cart}">
				<i class="bi-cart-fill me-1"></i> Giỏ Hàng <span
					class="badge bg-dark text-white ms-1 rounded-pill">0</span>
			</a>

			<!-- Liên kết Tài khoản -->
			<a class="btn btn-outline-dark ms-3" th:href="@{/shop/auth/index}" type="button"><i class="bi bi-person-circle"></i></a>
		</div>
	</div>
</header>