.search {
  min-width: 350px;
  width: auto;
  max-width: 400px;
}

.image-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.image-container img {
  width: 80%;
  min-height: 280px;
  max-height: 280px;
  display: block;
}

.image-detail-product {
  width: 80%;
  min-height: 600px;
  max-height: 600px;
  display: block;
}

.ht-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.btn-seemore:hover {
    color: white;
    background-color: black;
}

.img-carosel-h{
  max-height: 380px;
}

.rounded-image {
  border-radius: 1%; /* Sử dụng giá trị 50% để hình ảnh trở thành hình tròn */
  object-fit: cover; /* Đảm bảo hình ảnh vẫn bảo toàn tỷ lệ khi làm tròn */
}

@media (max-width: 1024px) {
  #bannerCTKM {
      display: none;
  }
}

.img-w1000-h200{
  min-width: 800px;
  min-height: 180px;
}