<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="/shop/layout/navigation :: nav"></div>

    <div class="container light-style flex-grow-1 container-p-y mt-5">
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="/shop/auth/index">Tổng Quan</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/information">Thông tin cá nhân</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/address">Địa chỉ</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/invoice">Đơn Hàng</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/favorite">Yêu Thích</a>
                    </div>
                </div>
                <!-- <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="border-light mt-1">
                                <a href="/shop/auth/address/add-new-address" type="button"
                                    class="btn btn-edit-address border border-warning text-dark bg-warning fw-bold"><i
                                        class="fas fa-plus pr-1"></i>Thêm địa
                                    chỉ mới </a>
                            </div>
                            <hr>
                            <div class="card-body">
                                <div id="diachikhac">
                                    <div class="container row ">
                                        <label for="" class="form-lable fw-bold fs-5 mb-3">Địa chỉ mặc
                                            định</label>
                                        <div class="col-12 col-md-8 ">
                                            <div class="d-flex justify-content-start">
                                                <h6> Bảo|&nbsp;</h6>
                                                <p>0357100604</p>
                                            </div>
                                            <div class=" d-flex justify-content-start">
                                                <p>Cần thơ</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class=" d-flex justify-content-end align-items-center mt-1">
                                                <a class="text-success text-decoration-none"
                                                    href="/shop/auth/address/update-address">
                                                    Chỉnh sửa thông tin <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <hr> 
                                        <label for="" class="mb-3 form-lable fw-bold fs-5">Địa chỉ khác</label>
                                        <div class="col-12 col-md-8 ">
                                            <div class="d-flex justify-content-start">
                                                <h6> Gia bao|&nbsp;</h6>
                                                <p>0353853303</p>
                                            </div>
                                            <div class=" d-flex justify-content-start">
                                                <p>Kiên Giang</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="d-flex justify-content-end">
                                                <a class="text-success text-decoration-none"
                                                    href="/shop/auth/address/update-address">
                                                    Chỉnh sửa thông tin <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </div>
                                            <hr>
                                            <div class="d-flex justify-content-end">
                                                <a class="text-danger text-decoration-none"
                                                    href="/shop/auth/information/address/delete/${item.id}">
                                                    Xóa địa chỉ <i class="bi bi-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-9"> 
                        <div class="card-body"> 
                            <form action="" method="post" enctype="multipart/form-data"
                                id="address-form">
                                <div class="row">
                                    <div class="col-md-6 form-group mt-3">
                                        <label for="tennguoinhan" class="col-form-label">Họ
                                            tên người nhận</label>
                                        <input type="text" name="hoTen" class="form-control"
                                            id="tennguoinhan">
                                    </div>
                                    <div class="col-md-6 form-group mt-3">
                                        <input type="text" class="form-control" hidden name="id" id="">
                                    </div>
                                    <div class="col-md-6 form-group mt-3">
                                        <label for="diachi" class="col-form-label">Địa
                                            chỉ:</label>
                                        <input type="text" name="diaChi" class="form-control" id="diachi">
                                    </div>
                                    <div class="col-md-6 form-group mt-3">
                                        <label for="sodienthoai" class="col-form-label">Số
                                            điện thoại:</label>
                                        <input type="text" name="sdt" class="form-control" id="sodienthoai">
                                    </div>
    
    
                                    <div class="col-md-12 form-group mt-3 mb-3" style="width: 50%;">
                                        <label for="diachi" class="col-form-label">Đặt làm
                                            địa chỉ mặc định:</label>
                                        <div class="row ms-1">
                                            <div class="form-check col-md-6">
                                                <input class="form-check-input" type="radio"
                                                    name="flexRadioDefault" value="1">
                                                <label class="form-check-label"> Có </label>
                                            </div>
                                            <div class="form-check col-md-6">
                                                <input class="form-check-input" value="0" type="radio"
                                                    name="flexRadioDefault">
                                                <label class="form-check-label">Không</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group mt-3">
                                        <input type="text" value="${dc.id}" class="form-control" hidden
                                            name="id" id="">
                                    </div>
                                    <div class="col-md-6 form-group mt-3">
                                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                   
                </div>
            </div>
        </div>
    </div> 
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>