<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="/shop/layout/navigation :: nav"></div>

    <main style="height: max-content;" class="container rounded-3 mt-3">
        <div class="row">
            <div class="col-lg-3">
                <div class="d-flex flex-column flex-shrink-0 p-2 bg-secondary bg-gradient rounded-2"
                    style="height: 620px;">
                    <a href="#" class="text-center text-decoration-none text-light fs-3 mt-2 ">
                        TÀI KHOẢN
                    </a>
                    <hr class="text-light">
                    <ul class="nav nav-pills flex-column mb-auto ">
                        <li><a th:href="@{shop/auth/index}" class="nav-link link-primary fw-bold p-7 text-light mt-2 mb-2"> TỔNG
                                QUAN</a></li>
                        <li><a th:href="@{shop/auth/information}"
                                class="nav-link link-primary fw-bold p-7 mt-2 mb-2  text-light"> THÔNG TIN
                                TÀI KHOẢN </a></li>
                        <li class="actives"><a th:href="@{shop/auth/address}" class="nav-link link-primary fw-bold p-7 mt-2 mb-2">
                                ĐỊA CHỈ</a></li>
                        <li><a th:href="@{shop/auth/invoice}" class="nav-link link-primary fw-bold p-7 text-light mt-2 mb-2">
                                ĐƠN HÀNG </a></li>
                        <li><a th:href="@{shop/auth/favorite}" class="nav-link link-primary fw-bold p-7 text-light mt-2 mb-2">SẢN PHẨM YÊU
                                THÍCH </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card border" style="width: 1000px; height: 620px;">
                    <div class="card-header p-2" style="height: 60px;">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="/shop/auth/information/address"
                                        class="text-dark text-decoration-none text-center fs-4 fw-bold">Địa
                                        chỉ</a></li>
                                <li class="breadcrumb-item fs-4  fw-bold" aria-current="page"><a href=""
                                        class="text-dark text-decoration-none fs-4 fw-bold ">Thêm địa
                                        chỉ mới</a></li>

                            </ol>
                        </nav>
                    </div>
                    <div class="card-body">
                        <h3>Thông tin dịa chỉ</h3>
                        <form action="/themdiachi" method="post" enctype="multipart/form-data"
                            id="address-form">
                            <div class="row">
                                <div class="col-md-6 form-group mt-3">
                                    <label for="tennguoinhan" class="col-form-label">Họ
                                        tên người nhận</label>
                                    <input type="text" name="hoTen" class="form-control"
                                        id="tennguoinhan">
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <input type="text" class="form-control" hidden name="id" id="">
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <label for="diachi" class="col-form-label">Địa
                                        chỉ:</label>
                                    <input type="text" name="diaChi" class="form-control" id="diachi">
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <label for="sodienthoai" class="col-form-label">Số
                                        điện thoại:</label>
                                    <input type="text" name="sdt" class="form-control" id="sodienthoai">
                                </div>


                                <div class="col-md-12 form-group mt-3 mb-3" style="width: 50%;">
                                    <label for="diachi" class="col-form-label">Đặt làm
                                        địa chỉ mặt định:</label>
                                    <div class="row ms-1">
                                        <div class="form-check col-md-6">
                                            <input class="form-check-input" type="radio"
                                                name="flexRadioDefault" value="1">
                                            <label class="form-check-label"> Có </label>
                                        </div>
                                        <div class="form-check col-md-6">
                                            <input class="form-check-input" value="0" type="radio"
                                                name="flexRadioDefault">
                                            <label class="form-check-label">Không</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <input type="text" value="${dc.id}" class="form-control" hidden
                                        name="id" id="">
                                </div>
                                <div class="col-md-6 form-group mt-3">
                                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>