<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body class="gradient-custom-user" ng-app="loginApp" ng-controller="loginCtrl">
    <!-- Navigation -->
    <div th:replace="/shop/layout/navigation :: nav"></div>

    <hr class="container">

    <div class="container light-style flex-grow-1 container-p-y mt-5">
        <div class="card overflow-hidden" style="min-height: 500px">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0 border-end">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action " data-toggle="list"
                            href="/shop/auth/index">Tổng Quan</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/information">Thông tin cá nhân</a>
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="/shop/auth/address">Địa chỉ</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/invoice">Đơn Hàng</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="border-light mt-3">
                                <a href="/shop/auth/address/add-new-address" type="button"
                                    class="btn btn-edit-address border border-warning text-dark bg-warning fw-bold"><i
                                        class="fas fa-plus pr-1"></i>Thêm địa
                                    chỉ mới </a>
                            </div>
                            <hr>
                            <div class="card-body">
                                <div id="diachikhac">
                                    <div class="container row ">
                                        <label for="" class="form-lable fw-bold fs-5 mb-3">Địa chỉ mặc
                                            định</label>
                                        <div class="col-12 col-md-8 ">
                                            <div class="d-flex justify-content-start">
                                                <h6>{{address.hoTen}} |&nbsp; </h6>
                                                <h6>{{address.sdt}}</h6>
                                            </div>
                                            <div class="d-flex justify-content-start">
                                                <p>{{address.diaChi}}</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class=" d-flex justify-content-end align-items-center mt-1">
                                                <a class="text-success text-decoration-none"
                                                    href="/shop/auth/address/update-address">
                                                    Chỉnh sửa thông tin <i class="bi bi-pencil-square"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- <div id="diachikhac"> -->
                                        <label for="" class="mb-3 form-lable fw-bold fs-5">Địa chỉ khác</label>
                                        <div class="row" ng-repeat="adr in addresss">
                                            <div class="col-12 col-md-8 ">
                                                <div class="d-flex justify-content-start">
                                                    <h6> {{adr.hoTen}}| &nbsp;</h6>
                                                    <h6>{{adr.sdt}}</h6>
                                                </div>
                                                <div class=" d-flex justify-content-start">
                                                    <p>{{adr.diaChi}}</p>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="d-flex justify-content-end">
                                                    <a class="text-success text-decoration-none"
                                                        href="/shop/auth/address/update-address">
                                                        Chỉnh sửa thông tin <i class="bi bi-pencil-square"></i>
                                                    </a>
                                                </div>
                                                <hr>
                                                <div class="d-flex justify-content-end">
                                                    <a class="text-danger text-decoration-none"
                                                        href="/shop/auth/information/address/delete/${item.id}">
                                                        Xóa địa chỉ <i class="bi bi-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- angular js -->
    <script src="/assets/js/login.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>