<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="/shop/layout/navigation :: nav"></div>

    <main style="height: max-content;" class="container rounded-3 mt-3">
        <div class="row">
            <div class="col-lg-3">
                <div class="d-flex flex-column flex-shrink-0 p-2 bg-secondary bg-gradient rounded-2"
                    style="height: 620px;">
                    <a href="#" class="text-center text-decoration-none text-light fs-3 mt-2 ">
                        TÀI KHOẢN
                    </a>
                    <hr class="text-light">
                    <ul class="nav nav-pills flex-column mb-auto ">
                        <li><a href="/user/index" class="nav-link link-primary fw-bold p-7 text-light mt-2 mb-2"> TỔNG
                                QUAN</a></li>
                        <li><a href="/user/information"
                                class="nav-link link-primary fw-bold p-7 mt-2 mb-2  text-light"> THÔNG TIN
                                TÀI KHOẢN </a></li>
                        <li class="actives"><a href="/user/address" class="nav-link link-primary fw-bold p-7 mt-2 mb-2">
                                ĐỊA CHỈ</a></li>
                        <li><a href="/user/invoice" class="nav-link link-primary fw-bold p-7 text-light mt-2 mb-2">
                                ĐƠN HÀNG </a></li>
                        <li><a href="/user/favorite" class="nav-link link-primary fw-bold p-7 text-light mt-2 mb-2">SẢN PHẨM YÊU
                                THÍCH </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card border" style="width: 1000px; height: 620px;">
                    <div class="card-header bg-light">
                        <div class="d-flex justify-content-between align-items-center address-content">
                            <h4 class="text-13 mb-2 fs-3">Địa chỉ thanh toán</h4>
                            <a href="/user/address/add-new-address" type="button"
                                class="btn btn-edit-address float-right shadow-none mb-2 border border-warning text-dark bg-warning fw-bold"><i
                                    class="fas fa-plus pr-1"></i>Thêm địa
                                chỉ mới </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="diachikhac">
                            <div class="container row ">
                                <label for="" class="form-lable fw-bold fs-5 mb-3">Địa chỉ mặc
                                    định</label>
                                <div class="col-12 col-md-8 ">
                                    <div class="d-flex justify-content-start">
                                        <h6> Bảo|&nbsp;</h6>
                                        <p>0357100604</p>
                                    </div>
                                    <div class=" d-flex justify-content-start">
                                        <p>Cần thơ</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class=" d-flex justify-content-end align-items-center mt-1">
                                        <a class="text-success text-decoration-none"
                                            href="/user/address/update-address">
                                            Chỉnh sửa thông tin <i class="bi bi-pencil-square"></i>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <!-- <div id="diachikhac"> -->
                                <label for="" class="mb-3 form-lable fw-bold fs-5">Địa chỉ khác</label>
                                    <div class="col-12 col-md-8 ">
                                        <div class="d-flex justify-content-start">
                                            <h6> Gia bao|&nbsp;</h6>
                                            <p>0353853303</p>
                                        </div>
                                        <div class=" d-flex justify-content-start">
                                            <p>Kiên Giang</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="d-flex justify-content-end">
                                            <a class="text-success text-decoration-none"
                                                href="/user/address/update-address">
                                                Chỉnh sửa thông tin <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="d-flex justify-content-end">
                                            <a class="text-danger text-decoration-none"
                                                href="/shop/auth/information/address/delete/${item.id}">
                                                Xóa địa chỉ <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>