<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body class="gradient-custom-user">
  <!-- Navigation -->
  <div th:replace="/shop/layout/navigation :: nav"></div>

  <hr class="container">
  <div class="container-fluid">

    <div class="container">
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #16123222</h2>
      </div>

      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span class="me-3">22-11-2021</span>
                  <span class="me-3">#16123222</span>
                  <span class="badge rounded-pill bg-info">SHIPPING</span>
                </div>
                <div class="d-flex">
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img th:src="@{|/shop/image/product/tham-tu-lung-danh-conan_bia_tap-101.jpg|}" alt=""
                            class="avatar-lg">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">Nuôi dạy con thi đâu đỗ đấy</a></h6>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">86.000 VNĐ</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img th:src="@{|/shop/image/product/tham-tu-lung-danh-conan_bia_tap-101.jpg|}" alt=""
                            class="avatar-lg">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">Kỹ năng biên tập</a></h6>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">50.000 VNĐ</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">Tạm tính</td>
                    <td class="text-end">136.000 VNĐ</td>
                  </tr>
                  <tr>
                    <td colspan="2">Phí vận chuyển</td>
                    <td class="text-end">20.000 VNĐ</td>
                  </tr>
                  <tr>
                    <td colspan="2">Giảm giá (Code: MG001)</td>
                    <td class="text-danger text-end">-10.000 VNĐ</td>
                  </tr>
                  <tr class="fw-bold">
                    <td colspan="2">Tổng tiền</td>
                    <td class="text-end">146.000 VNĐ</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
           <!-- Customer Notes -->
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="h6">Ghi chú </h3>
              <p>Có thể nhận hàng vào các buổi trưa trong tuần</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4"> 
          <!-- Payment --> 
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="h6">Phương thức thanh toán</h3>
                  <p>Visa -1234 <br>
                    Tổng tiền: 146.000 VNĐ <span class="badge bg-success rounded-pill">PAID</span></p>
                </div>
                <div class="col-lg-6">
                  <h3 class="h6">Địa chỉ nhận hàng</h3>
                  <address>
                    <strong>Bảo</strong><br>
                    Ninh kiều, Cần thơ<br>
                    <abbr title="Phone">P:</abbr> 0357100604
                  </address>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="card mb-4">
             Shipping information    
                <div class="card-body">
                  <h3 class="h6">Shipping Information</h3>
                  <strong>FedEx</strong>
                  <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
                  <hr>
                  <h3 class="h6">Address</h3>
                  <address>
                    <strong>John Doe</strong><br>
                    1355 Market St, Suite 900<br>
                    San Francisco, CA 94103<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div> -->
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>