<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="loginApp">

<head th:replace="/shop/layout/head :: head">
</head>

<body class="gradient-custom-user" ng-controller="loginCtrl">
  <!-- Navigation -->
  <div th:replace="/shop/layout/navigation :: nav"></div>
  <hr class="container">
  <div class="container light-style flex-grow-1 container-p-y mt-5  ">
    <div class="card overflow-hidden " style="min-height: 500px">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0 border-end">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" href="/shop/auth/index">Tổng
              Quan</a>
            <a class="list-group-item list-group-item-action" href="/shop/auth/information">Thông tin
              cá nhân</a>
            <a class="list-group-item list-group-item-action" href="/shop/auth/address">Địa chỉ</a>
            <a class="list-group-item list-group-item-action" href="/shop/auth/invoice">Đơn Hàng</a>
            <a class="list-group-item list-group-item-action"
              href="/shop/auth/favorite/{{ info_user[0].tenDangNhap}}">Yêu thích</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <hr class="border-light m-0">
              <div class="card-body">
                <h5 class="fw-bold">Thông tin cá nhân</h5>
                <table class="table table-borderless ms-1 me-2 " id="table1">
                  <tr>
                    <th style="width: 160px;">Họ tên</th>
                    <td> {{ info_user[0].hoTen}}</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>{{ info_user[0].email}}</td>
                  </tr>
                  <tr>
                    <th>Số điện thoại</th>
                    <td>{{ info_user[0].sdt}}</td>
                  </tr>
                  <tr>
                    <th>Địa chỉ</th>
                    <td>{{address.diaChi}}</td>
                  </tr>
                </table>
                <div>
                  <h4>Đơn hàng gần đây</h4>
                  <div>
                    <table class="table table-bordered ms-1 me-2" style="width: 99%;">
                      <tr class="text-center">
                        <th>Họ tên</th>
                        <th>Ngày đặt hàng</th>
                        <th>Số tiền</th>
                        <th>Trạng thái</th>
                        <th>Ghi chú</th>
                      </tr>
                      <tr ng-repeat="invoice in invoices">
                        <td>{{invoice.hoTen}}</td>
                        <td>{{invoice.ngayDatHang | date:'dd/MM/yyyy'}}</td>
                        <td>{{invoice.tongTien  | vnCurrency}}</td>
                        <td>{{invoice.trangThai_donDatHang.tenTrangThai}}</td>
                        <td>
                          <a href="/shop/auth/invoice/detail-invoice/{{invoice.maDonHang}}">Xem chi tiết</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer-->
  <script src="/assets/js/login.js"></script>
  <div th:replace="/shop/layout/footer :: footer"></div>

  <!-- <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script> -->



  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
  <!-- Core theme JS-->
  <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>