<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body class="gradient-custom-user">
  <!-- Navigation -->
  <div th:replace="/shop/layout/navigation :: nav"></div>
  <hr class="container"> 
  <div class="container light-style flex-grow-1 container-p-y mt-5  ">
    <div class="card overflow-hidden "  style="min-height: 500px">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0 border-end">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" href="/shop/auth/index">Tổng
              Quan</a>
            <a class="list-group-item list-group-item-action"  href="/shop/auth/information">Thông tin
              cá nhân</a>
            <a class="list-group-item list-group-item-action"   href="/shop/auth/address">Địa chỉ</a>
            <a class="list-group-item list-group-item-action"   href="/shop/auth/invoice">Đơn Hàng</a> 
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">

              <hr class="border-light m-0">
              <div class="card-body">
                <h5 class="fw-bold">Thông tin cá nhân</h5>
                <table class="table table-borderless ms-1 me-2 " id="table1">
                  <tr>
                    <th style="width: 160px;">Họ tên</th>
                    <td>Bảo</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>BaoVHG@gmail.com</td>
                  </tr>
                  <tr>
                    <th>Số điện thoại</th>
                    <td>0357100604</td>
                  </tr>
                  <tr>
                    <th>Địa chỉ</th>
                    <td>Cần thơ</td>
                  </tr>
                </table>
                <div>
                  <h4>Đơn hàng gần đây</h4>
                  <div id="thongtindonhang">
                    <table class="table table-bordered ms-1 me-2" style="width: 99%;">
                      <tr class="text-center">
                        <th>Họ tên</th>
                        <th>Ngày đặt hàng</th>
                        <th>Số tiền</th>
                        <th>Trạng thái</th>
                        <th>Ghi chú</th>
                      </tr>
                      <c:forEach var="item" items="${donhang}">
                        <tr>
                          <td>Bảo</td>
                          <td>
                            <!-- <fmt:formatDate value="12/02/2024" pattern="yyyy-MM-dd" /> -->
                            12/02/2024
                          </td>
                          <td>
                            <!-- <fmt:formatNumber value="${item.tongTien}" type="number" currencyCode="VND"
                              maxFractionDigits="0" /> vnđ --> 122.000.vnđ
                          </td>
                          <td>Đang vận chuyển</td>
                          <td>
                            <a class="text-primary text-decoration-none"
                              href="">
                              Xem chi tiết
                            </a>
                          </td>
                        </tr>
                      </c:forEach>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

  <script> 
      new DataTable('#table1');
  </script>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>