<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body class="gradient-custom-user" ng-app="loginApp" ng-controller="loginCtrl">
    <!-- Navigation -->
    <div th:replace="/shop/layout/navigation :: nav"></div>

    <hr class="container">
    <div class="container light-style flex-grow-1 container-p-y mt-5">
        <div class="card overflow-hidden" style="min-height: 500px">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0 border-end">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/index">Tổng Quan</a>
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="/shop/auth/information">Thông tin cá nhân</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/address" ng-click="getaddress()"  >Địa chỉ</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="/shop/auth/invoice">Đơn Hàng</a>
                            <a class="list-group-item list-group-item-action"   href="/shop/auth/favorite/{{ info_user[0].tenDangNhap}}" >Yêu thích</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <form action="" method="post" enctype="multipart/form-data" id="infor-form">
                        <div class="card-body">
                            <div class="container row">
                                <div class="col-lg-3">
                                    <div class="form-label pt-1 mt-3 ps-4 fs-5 fw-bold text-star">Tên
                                        đăng nhập</div>
                                    <div class="form-label pt-1 mt-3 ps-4 fs-5 fw-bold text-star">Họ
                                        tên</div>
                                    <div class="form-label pt-1 mt-4 ps-4 fs-5 fw-bold text-star">Email
                                    </div>
                                    <div class="form-label pt-1 mt-3 ps-4 fs-5 fw-bold text-start">Số
                                        điện thoại</div>
                                    <div class="form-label pt-1 mt-4 ps-4 fs-5 fw-bold text-star">Ngày
                                        sinh</div>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control mt-3" name="tenDangNhap" style="width: 80%;"
                                        ng-model="form[0].tenDangNhap" readonly>
                                    <input class="form-control mt-3" name="hoTen" style="width: 80%;"
                                        ng-model="form[0].hoTen" id="hoTen" readonly>
                                    <input class="form-control mt-3" name="email" style="width: 80%;"
                                        ng-model="form[0].email" readonly>
                                    <input class="form-control mt-3" name="sdt" style="width: 80%;"
                                        ng-model="form[0].sdt" id="sdt" readonly>
                                    <input type="date" ng-model="birthday" class="form-control mt-3" style="width: 80%;"
                                        readonly>

                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="ms-4 mt-4">
                        <button ng-click="editinfomation(form[0].tenDangNhap)" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#editinfo" data-bs-whatever="@mdo">Cập nhập
                            thông tin</button>
                        <button ng-click="editpass(form[0].tenDangNhap)" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#editpass" data-bs-whatever="@mdo">Đổi mật
                            khẩu</button>
                    </div>

                    <!-- form edit infomation -->
                    <div class="modal fade" id="editinfo" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div style="margin-top: 20px;" class="modal-dialog">
                            <div class="modal-content " style="width: 150%; height:490px ;">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cập
                                        nhập thông tin tài khoản
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label class="form-label">Tên Tài
                                                        Khoản</label>
                                                    <input type="text" ng-model="form_info.tenDangNhap"
                                                        class="form-control" readonly>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">Email</label>
                                                    <input type="text" ng-model="form_info.email" class="form-control"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <label class="form-label">Họ Tên</label>
                                                    <input type="text" ng-model="form_info.hoTen" class="form-control">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">Số Điện
                                                        Thoại</label>
                                                    <input type="munber" ng-model="form_info.sdt" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <label class="form-label">Ngày
                                                        Sinh</label>
                                                    <input type="date" ng-model="birthday"  
                                                        class="form-control">
                                                </div>
                                                <div class="col-lg-6">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning " ng-click="updateinfo()">Cập
                                        nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal -->
                    <!-- form edit password -->
                    <div class="modal fade" id="editpass" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div style="margin-top: 20px;" class="modal-dialog">
                            <div class="modal-content " style="width: 150%; height:450px ;">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Đổi mật khẩu
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <form>
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <label class="form-label">Mật khẩu hiện tại</label>
                                                    <input type="password" ng-model="form_pass.matKhau" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6">
                                                    <label class="form-label"> Mật khẩu mới</label>
                                                    <input type="password" ng-model="form_pass.pass1" class="form-control">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">Nhập lại mật khẩu mới</label>
                                                    <input type="password" ng-model="form_pass.pass2" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-6"> 
                                                    <input type="text" ng-model="form_info.tenDangNhap" class="form-control" hidden>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning " ng-click="updatepass()">Cập
                                        nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal -->
                </div>
            </div>
        </div>
    </div>
    <!-- angular js -->
    <script src="/assets/js/login.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/shop/js/scripts.js}"></script>
</body>

</html>