<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin - Sản phẩm</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
</head>

<style>

</style>

<body>
    <div class="main-container d-flex">
        <!-- Menu Admin -->
        <!-- partial:partials/_navbar.html -->
        <div th:replace="admin/navbar :: navbar"></div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <div th:replace="admin/menu :: menu"></div>

            <!-- Bootstrap JavaScript Libraries -->
           
            <div class="col-10 px-0">
                <div class="container">
                   
                   
                </div>
            </div>
        </div>
    </div>

        <div th:replace="/WEB-INF/assets/js/admin/js-link.jsp"></div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                new DataTable('#table1');
            });
            /*]]>*/
        </script>
        <!-- container-scroller -->
        <!-- plugins:js -->

</body>

</html>