<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin - Sản phẩm</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
</head>

<style>

</style>

<body>
    <div class="main-container d-flex">
        <!-- Menu Admin -->
        <!-- partial:partials/_navbar.html -->
        <div th:replace="admin/navbar :: navbar"></div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <div th:replace="admin/menu :: menu"></div>

            <!-- Bootstrap JavaScript Libraries -->

            <div class="col-10 px-0">
                <div class="container">
                    div
                    <div class="col-md-12">
                        <div class="card">
                            <div class="" style="height: 90px;">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="/admin/dashboard">Loại sản phẩm</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><a href="">Sách</a></li>
                                    </ol>
                                </nav>
                            </div>

                            <div class="">
                                <div id="bootstrap-data-table_wrapper"
                                    class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <a href="/admin/product/add-new"><button type="button"
                                            class="btn btn-warning bi bi-plus">Thêm mới</button></a>
                                    <div style="margin-top: 20px;" class="d-flex align-items-center">
                                        <h5 class="mb-0">Danh sách sản phẩm</h5> <br>
                                    </div>
                                    <p th:text="${message}"></p>
                                    <br>
                                    <div class="row">
                                        <div style="height: 500px; overflow: auto;">
                                            <table class="table table-bordered" id="table1">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 350px;">Tên sách</th>
                                                        <th style="width: 100px;">Đơn giá</th>
                                                        <th>Số lượng</th>
                                                        <th>Tình trạng</th>
                                                        <th>Hình ảnh</th>
                                                        <th style="width: 30px;">Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <!-- <c:forEach var="product" items="${products}"> -->
                                                    <div th:each="product : ${products}">


                                                        <tr>
                                                            <td th:utext="${product.tenSach}"></td>
                                                            <!-- <td>${product.tacGia}</td> -->
                                                            
                                                                    <td th:utext="${product.donGia}"></td>

                                                            <td th:utext="${product.soLuong}"></td>
                                                            <td th:utext="${product.tinhTrangSanPham.tenTinhTrang}"></td>
                                                            
                                                            <td>
                                                                <img alt="[[${product.hinhAnh}]]"
                                                                     th:src="@{/admin/{hinhAnh}(hinhAnh=${product.hinhAnh})}"
                                                                     width="350px" height="500px">
                                                            </td>
                                                            
                                                            <!-- Hiển thị các thuộc tính khác của sản phẩm tại đây -->
                                                            <td>
                                                                <div
                                                                    class="table-actions d-flex align-items-center gap-3 fs-5">

                                                                    <a href="/admin/product/edit/${product.isbn }"
                                                                        class="text-warning" data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom" aria-label="Edit"
                                                                        data-bs-original-title="Edit"><i
                                                                            class="bi bi-pencil-fill"></i></a>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="/WEB-INF/assets/js/admin/js-link.jsp"></div>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            new DataTable('#table1');
        });
        /*]]>*/
    </script>
    <!-- container-scroller -->
    <!-- plugins:js -->

</body>

</html>