<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mã giảm giá</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
    <div class="container-scroller" ng-app="voucherApp" ng-controller="voucher-ctrl" >
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../assets/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
       <!-- partial:partials/_navbar.html -->
       <div th:replace="admin/navbar :: navbar"></div>
       <!-- partial -->
       <div class="container-fluid page-body-wrapper">
         <!-- partial:partials/_sidebar.html -->
         <div th:replace="admin/menu :: menu"></div>
         <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
         
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
               
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm mới mã giảm giá</h1>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Mã giảm giá</label>
                                      <div class="col-sm-9">
                                        <input type="text"name="magiamgia" ng-model="form.id" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Tên mã giảm giá</label>
                                      <div class="col-sm-9">
                                        <input type="text" name="tenma" ng-model="form.tenMa" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Số tiền giảm</label>
                                      <div class="col-sm-9">
                                        <input type="text" name="sotiengiam" ng-model="form.soTienGiam" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Số lượng</label>
                                      <div class="col-sm-3">
                                        <input type="text" name="soluong" ng-model="form.soLuong" class="form-control" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Ngày bắt đầu</label>
                                        <div class="col-sm-9">
                                          <input type="datetime-local" name="ngaybatdau" ng-model="form.ngayBatDau" class="form-control" value="{{ getCurrentDateTime() }}"  />
                                            <div ng-if="startDateError" class="text-danger">Ngày bắt đầu phải trước ngày kết thúc.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Ngày kết thúc</label>
                                        <div class="col-sm-9">
                                            <input type="datetime-local" name="ngayketthuc" ng-model="form.ngayKetThuc" class="form-control" placeholder="dd/mm/yyyy" ng-change="checkDate()" />
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Mô tả</label>
                                      <div class="col-sm-9">             
                                        <textarea name="thongtin" ng-model="form.thongTin" class="form-control"></textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Đơn tối thiểu</label>
                                      <div class="col-sm-9">             
                                        <input type="text"name="dieukien" ng-model="form.dieuKien" class="form-control" />
                                      </div>
                                    </div>
                                    <input type="text"name="daSuDung" ng-model="form.daSuDung" class="form-control" hidden />

                                  </div>
                                </div>
                             
                              </form>
                            </div>
                            <div class="modal-footer">
                              <a href="/shop/admin/voucher" type="button" class="btn btn-gradient-danger btn-icon-text">Đóng</a>
                              <a href="#"  type="button" ng-click="create()"  class="btn btn-primary">Thêm mới</a>
                            <!-- <button  ng-click="create()" class="btn btn-primary">Thêm mới</button> -->
                            </div>
                          </div>
                       
                      
            
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
    <script src="/assets/js/voucher-ctrl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.36/moment-timezone.min.js"></script>

  </body>
</html>