<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin - Sản phẩm</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
</head>

<style>

</style>

<body>
    <div class="main-container d-flex">
        <!-- Menu Admin -->
        <!-- partial:partials/_navbar.html -->
        <div th:replace="admin/navbar :: navbar"></div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <div th:replace="admin/menu :: menu"></div>

            <!-- Bootstrap JavaScript Libraries -->
            <div class="col-10 px-0">
                <div class="container-fluid">


                    <div class="col-md-12">
                        <div class="card">

                            <!-- <div class="bg-light p-4 border-bottom" style="height: 90px;">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="/admin/dashboard">Loại sản phẩm</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"><a
                                                href="/admin/product">Sách</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><a
                                                href="/admin/product/add-new">Thêm sản phẩm</a>
                                        </li>
                                    </ol>
                                </nav>
                            </div> -->
                            <div class=" p-"></div>
                            <div class="card-body">
                                <div id="bootstrap-data-table_wrapper"
                                    class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                                    <div class="d-flex align-items-center">
                                        <h5 class="mb-0">Thêm bộ sách</h5>

                                    </div>



                                    <br>
                                    <form:form action="/admin/product-series/create-new" modelAttribute="item"
                                        enctype="multipart/form-data">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <!-- Hình ảnh -->
                                                    <label for="coverType" class="form-label">Hình ảnh</label>

                                                    <!-- Display the selected image using a div as a frame -->
                                                    <div
                                                        style="width: 220px; height: 260px; border: 1px solid #ccc; overflow: hidden; position: relative;">
                                                        <img style="width: 220px; height: 260px;" id="imgPreview" alt=""
                                                            src="/image/product/${item.hinhAnh}">

                                                        <!-- Input for selecting a new image (hidden) -->
                                                        <input type="file" accept=".jpg, .png" name="photo_file"
                                                            id="imgInput" style="display: none;"
                                                            onchange="previewImage()">

                                                        <!-- Add a transparent button to trigger file selection -->
                                                        <button type="button" onclick="selectImage()"
                                                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;"></button>
                                                    </div>
                                                    <!-- <span class="error">${errorHinhAnh}</span> -->
                                                </div>

                                                <div class="col-sm-7">
                                                    <div class="mb-3">
                                                        <label for="tenBoSach" class="form-label">Tên Bộ Sách</label>
                                                        <input type="text" class="form-control" id="tenBoSach"
                                                            placeholder="Nhập tên bộ sách">
                                                    </div>
                                                    <!-- Mô tả -->
                                                    <div class="mb-3">
                                                        <label for="moTa" class="form-label">Mô tả</label>
                                                        <textarea class="form-control" id="moTa"
                                                            placeholder="Nhập mô tả" style="height: 310px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Các nút và liên kết -->
                                            <div class="row">
                                                <div class="col">
                                                    <button formaction="/admin/product-series/create-new"
                                                        class="btn btn-primary mt-3">Thêm</button>
                                                </div>
                                            </div>
                                        </div>


                                        </form:form>






                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="/WEB-INF/assets/js/admin/js-link.jsp"></div>
            <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
            <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(document).ready(function () {
                    new DataTable('#table1');
                });
                /*]]>*/
            </script>

            

            <!-- thư viện -->
            <!-- container-scroller -->
            <!-- plugins:js -->
            <script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
            <!-- endinject -->
            <!-- Plugin js for this page -->
            <!-- End plugin js for this page -->
            <!-- inject:js -->
            <script th:src="@{/assets/js/off-canvas.js}"></script>
            <script th:src="@{/assets/js/hoverable-collapse.js}"></script>
            <script th:src="@{/assets/js/misc.js}"></script>
            <!-- endinject -->
            <!-- Custom js for this page -->
            <!-- End custom js for this page -->
</body>

</html>