<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin - Sản phẩm</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />
</head>

<style>
    #tableContainer {
        height: 300px;
        /* Set the height as needed */
        overflow-y: auto;
    }

    #table1 {
        width: 100%;
    }

    #table1 thead {
        position: sticky;
        top: 0;
        background-color: #f1f1f1;
        /* Set the background color as needed */
        z-index: 1;
    }


    /* Breadcrumb container */
    .breadcrumb-container {
        background-color: #f8f9fa;
        /* Light gray background */
        padding: 10px;
        border-bottom: 1px solid #dee2e6;
        /* Light border color */
    }

    /* Breadcrumb list */
    .breadcrumb {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    /* Breadcrumb items */
    .breadcrumb-item {
        display: inline-block;
        margin-right: 1px;
    }

    /* Breadcrumb links */
    .breadcrumb-item a {
        color: #007bff;
        /* Blue link color */
        text-decoration: none;
    }

    /* Active breadcrumb item */
    .breadcrumb-item.active {
        color: #495057;
        /* Dark text color for active item */
    }
</style>

<body>
    <div class="main-container d-flex">
        <!-- Menu Admin -->
        <!-- partial:partials/_navbar.html -->
        <div th:replace="admin/navbar :: navbar"></div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <div th:replace="admin/menu :: menu"></div>

            <!-- Bootstrap JavaScript Libraries -->
            <div class="col-10 px-0">
                <div class="container">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="" style="height: 90px;">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="/admin/dashboard">Loại sản phẩm</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><a href="">Sách</a></li>
                                    </ol>
                                </nav>
                            </div>

                            <div class="">
                                <div id="bootstrap-data-table_wrapper"
                                    class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                    <a href="/admin/product-series/add-new"><button type="button"
                                            class="btn btn-warning bi bi-plus">Thêm mới</button></a>
                                    <div style="margin-top: 20px;" class="d-flex align-items-center">
                                        <h5 class="mb-0">Danh sách bộ sách</h5> <br>
                                    </div>
                                    <p th:text="${message}"></p>
                                    <br>
                                    <div class="row">
                                        <div style="height: 500px; overflow: auto;">
                                            <table class="table table-bordered" id="table1">
                                                <thead>
                                                    <tr>
                                                        <th>Mã bộ sách</th>
                                                        <th>Tên bộ sách</th>
                                                        <th>Mô tả</th>
                                                        <th>Hình ảnh</th>
                                                        <th>Edit</th>
    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr th:each="product : ${products}">
                                                    <td th:text="${product.tenSach}"></td>
                                                    <td>
                                                        <span th:text="${#numbers.formatDecimal(product.donGia, 0, 'NUMBER')} + ' vnđ'"></span>
                                                    </td>
                                                    <td th:text="${product.soLuong}"></td>
                                                    <td th:text="${product.tinhTrangSanPham.tenTinhTrang}"></td>
                                                    <td><img th:src="'/image/product/' + ${product.hinhAnh}"
                                                            th:alt="${product.hinhAnh}" width="350px" height="500px">
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="table-actions d-flex align-items-center gap-3 fs-5">
                                                            <a th:href="'/admin/product/edit/' + ${product.isbn}"
                                                                class="text-warning" data-bs-toggle="tooltip"
                                                                data-bs-placement="bottom" aria-label="Edit"
                                                                data-bs-original-title="Edit">
                                                                <i class="bi bi-pencil-fill"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr> -->
                                                <c:forEach var="bosach" items="${bosachs}">
													<tr>
														<td>${bosach.id}</td>
														<td>${bosach.tenBoSach}</td>
														<td>${bosach.moTa}</td>

														<td><img alt="${bosach.hinhAnh}"
																src="/image/product/${bosach.hinhAnh}" width="400px"
																height="500px"></td>
														<!-- Hiển thị các thuộc tính khác của sản phẩm tại đây -->
														<td>
															<!-- <div
																class="table-actions d-flex align-items-center gap-3 fs-5">

																<a href="/admin/product-series/edit/${bosach.id }"
																	class="text-warning" data-bs-toggle="tooltip"
																	data-bs-placement="bottom" aria-label="Edit"
																	data-bs-original-title="Edit"><i
																		class="bi bi-pencil-fill"></i></a>
															</div> -->
                                                            <i class="mdi mdi-border-color mdi-24px "
                                                                style="color: red;"></i>
														</td>

													</tr>
												</c:forEach>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="/WEB-INF/assets/js/admin/js-link.jsp"></div>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {
                new DataTable('#table1');
            });
            /*]]>*/
        </script>
        <!-- container-scroller -->
        <!-- plugins:js -->

</body>

</html>