<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <style>
        .content-wrapper {
            background-image: url('/shop/image/login.jpg'); /* Đường dẫn tới hình ảnh nền */
            background-size: cover; /* Đảm bảo hình ảnh được phủ kín phần tử */
            background-position: center; /* Đặt hình ảnh ở giữa phần tử */
        }
    </style>
</head>
<body>
<div class="container-scroller" ng-app="forgotApp" ng-controller="forgotCtrl">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5" style="width: 130%;margin-left: -15%;">
                        <div class="brand-logo">
                            <img src="/shop/image/img-logo-removebg-preview.png" alt="Logo" width="100%" height="auto" style="margin-left: 15%;width: 70%;">
                        </div>
                        <form action="/xacnhanthaydoimatkhau/{{email}}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="tenDangNhap" name="tendangnhap"  ng-model="form.tenDangNhap">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email"  ng-model="form.email">
                            </div>
                            <div class="form-group">
                                <label for="matKhau">Mật khẩu mới:</label>
                                <input type="password" class="form-control" id="matKhau" value="{{matk}}" name="matKhau" ng-model="form.matKhau">
                            </div>
                            <div class="form-group">
                                <label for="xacnhanmatkhau">Xác nhận mật khẩu mới:</label>
                                <input type="password" class="form-control" id="xacnhanmatkhau" name="xacnhanmatkhau">
                            </div>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../assets/js/off-canvas.js"></script>
<script src="../../assets/js/hoverable-collapse.js"></script>
<script src="../../assets/js/misc.js"></script>
<!-- endinject -->
<script src="../../assets/js/forgot.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
</body>
</html>
