<!DOCTYPE html>
<html lang="en" ng-app="forgotApp">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="forgotCtrl">

    <div>
        <h2>Forgot Password</h2>
        <label>Email:</label>
        <input type="email" ng-model="email" placeholder="Enter your email">
        <button ng-click="sendEmail(email)">Send Email</button>
    </div>

</body>
</html>
