<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body class="gradient-custom-user">
    <!-- Navigation-->
    <div th:replace="/shop/layout/navigation :: nav"></div>
    <hr class="container">
    <!-- Thông tin chi tiết sản phẩm-->
    <section class="h-100">
        <div class="container py-5">
            <div class="row justify-content-center my-4">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="card mb-4">
                        <div class="card-header py-3 text-center">
                            <h5 class="mb-0">GIỎ HÀNG CỦA BẠN - 2 sản phẩm</h5>
                        </div>
                        <div class="card-body" id="cart">
                            <!-- Single item -->

                            <hr class="my-4" />

                        </div>
                    </div>
                    <!-- <div class="card mb-4 mb-lg-0">
                        <div class="card-body">
                            <p><strong>Chúng tôi chấp nhận thanh toán</strong></p>
                            <img class="me-2" width="45px"
                                th:src="@{/shop/image/vnpay.png}"
                                alt="Visa" />
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0 text-center">TỔNG THANH TOÁN</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Sản phẩm
                                    <span>45.000 vnđ</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Phí vận chuyển
                                    <span>15.000 vnđ</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Tổng tiền thanh toán</strong>
                                        <strong>
                                            <p class="mb-0">(Bao gồm VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>60.000 vnđ</strong></span>
                                </li>
                            </ul>

                            <a th:href="@{/shop/auth/order/check-out}" class="btn bg-success fw-bold float-end">THANH
                                TOÁN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <div th:replace="/shop/layout/footer :: footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Lấy dữ liệu sản phẩm từ LocalStorage
            var cart = JSON.parse(localStorage.getItem("cart")) || [];

            // Duyệt qua danh sách sản phẩm và hiển thị trên trang
            cart.forEach(function (product) {
                var productHTML = '<div class="row mx-auto mb-4">';
                productHTML += '<div class="col-lg-3 col-md-12 mb-4 mb-lg-0">';
                productHTML += '<div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">';
                productHTML += '<img src="' + product.image + '" class="w-75 h-75" alt="Product Image" />';
                productHTML += '<div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>';
                productHTML += '</div>';
                productHTML += '</div>';

                productHTML += '<div class="col-lg-9 col-md-12 mb-4 mb-lg-0">';
                productHTML += '<p><strong>' + product.name + '</strong></p>';
                productHTML += '<div class="d-flex mb-4 row">';
                productHTML += '<div class="col-md-5">';
                productHTML += '<p class="text-start"><strong>Giá tiền: ' + product.price + ' vnđ</strong></p>';
                productHTML += '</div>';
                productHTML += '<div class="col-md-3">';
                productHTML += '<div class="input-group">';
                productHTML += '<button class="btn btn-primary me-1" onclick="decrementQuantity(this)"><i class="fas fa-minus"></i></button>';
                productHTML += '<input type="number" class="form-control text-center" value="1" readonly />';
                productHTML += '<button class="btn btn-primary ms-1" onclick="incrementQuantity(this)"><i class="fas fa-plus"></i></button>';
                productHTML += '</div>';
                productHTML += '</div>';
                productHTML += '<div class="col-md-1">';
                productHTML += '<button class="btn btn-danger" onclick="removeItem(\'' + product.id + '\')"><i class="fas fa-trash"></i></button>';
                productHTML += '</div>';
                productHTML += '</div>';
                productHTML += '</div>';

                productHTML += '</div>';

                $("#cart").append(productHTML);
            });
        });

        // Hàm xóa sản phẩm khỏi giỏ hàng
        function removeItem(productId) {
            var cart = JSON.parse(localStorage.getItem("cart")) || [];
            
            // Lọc ra sản phẩm cần xóa khỏi danh sách
            var updatedCart = cart.filter(function (product) {
                return product.id !== productId;
            });
            localStorage.setItem("cart", JSON.stringify(updatedCart));
            //location.reload(); // Tải lại trang để cập nhật giỏ hàng
        }

        // Hàm giảm số lượng sản phẩm
        function decrementQuantity(button) {
            var input = $(button).closest('.input-group').find('input[type=number]');
            var currentValue = parseInt(input.val(), 10);
            if (!isNaN(currentValue) && currentValue > 1) {
                input.val(currentValue - 1);
            }
        }

        // Hàm tăng số lượng sản phẩm
        function incrementQuantity(button) {
            var input = $(button).closest('.input-group').find('input[type=number]');
            var currentValue = parseInt(input.val(), 10);
            if (!isNaN(currentValue)) {
                input.val(currentValue + 1);
            }
        }
    </script>
</body>

</html>