<!DOCTYPE html>
<html lang="en">

<head th:replace="/shop/layout/head :: head">
</head>

<body>
    <div th:replace="/shop/layout/navigation :: nav"></div>

    <div class="gradient-custom">
        <div class="container py-3">

            <div class="row">
                <div class="col-xl-6">
    
                    <div class="card">
                        <div class="card-body">
                            <ol class="activity-checkout mb-0 px-4 mt-3">
                                <li class="checkout-item">
                                    <div class="avatar checkout-icon p-1">
                                        <div class="avatar-title rounded-circle bg-primary">
                                            <i class="fas fa-receipt text-white font-size-20"></i>
                                        </div>
                                    </div>
                                    <div class="feed-item-list">
                                        <div>
                                            <h5 class="font-size-16 mb-1">Thông Tin Người Nhận</h5>
                                            <p class="text-muted text-truncate mb-4">Vui lòng điền đầy đủ thông tin</p>
                                            <div class="mb-3">
                                                <form>
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="billing-name">Họ và
                                                                        tên</label>
                                                                    <input type="text" class="form-control-style"
                                                                        id="billing-name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="billing-phone">Số điện
                                                                        thoại</label>
                                                                    <input type="text" class="form-control-style"
                                                                        id="billing-phone">
                                                                </div>
                                                            </div>
                                                        </div>
    
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                <label class="form-label"
                                                                    for="billing-email-address">Email</label>
                                                                <input type="email" class="form-control-style"
                                                                    id="billing-email-address">
                                                            </div>
                                                        </div>
    
                                                        <div class="mb-3">
                                                            <label class="form-label" for="billing-address">Địa chỉ nhận
                                                                hàng</label>
                                                            <textarea class="form-control-style" id="billing-address"
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li class="checkout-item">
                                    <div class="avatar checkout-icon p-1">
                                        <div class="avatar-title rounded-circle bg-primary">
                                            <i class="fas fa-truck text-white font-size-20"></i>
                                        </div>
                                    </div>
                                    <div class="feed-item-list">
                                        <div>
                                            <h5 class="font-size-16 mb-1">Shipping Info</h5>
                                            <p class="text-muted text-truncate mb-4">Neque porro quisquam est</p>
                                            <div class="mb-3">
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div data-bs-toggle="collapse">
                                                            <label class="card-radio-label mb-0">
                                                                <input type="radio" name="address" id="info-address1" class="card-radio-input" checked="">
                                                                <div class="card-radio text-truncate p-3">
                                                                    <span class="fs-14 mb-4 d-block">Address 1</span>
                                                                    <span class="fs-14 mb-2 d-block">Bradley McMillian</span>
                                                                    <span class="text-muted fw-normal text-wrap mb-1 d-block">109 Clarksburg Park Road Show Low, AZ 85901</span>
                                                                   
                                                                    <span class="text-muted fw-normal d-block">Mo. 012-345-6789</span>
                                                                </div>
                                                            </label>
                                                            <div class="edit-btn bg-light  rounded">
                                                                <a href="#" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Edit">
                                                                    <i class="bx bx-pencil font-size-16"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div>
                                                            <label class="card-radio-label mb-0">
                                                                <input type="radio" name="address" id="info-address2" class="card-radio-input">
                                                                <div class="card-radio text-truncate p-3">
                                                                    <span class="fs-14 mb-4 d-block">Address 2</span>
                                                                    <span class="fs-14 mb-2 d-block">Bradley McMillian</span>
                                                                    <span class="text-muted fw-normal text-wrap mb-1 d-block">109 Clarksburg Park Road Show Low, AZ 85901</span>
                                                                    <span class="text-muted fw-normal d-block">Mo. 012-345-6789</span>
                                                                </div>
                                                            </label>
                                                            <div class="edit-btn bg-light  rounded">
                                                                <a href="#" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Edit">
                                                                    <i class="bx bx-pencil font-size-16"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> -->
                                <li class="checkout-item">
                                    <div class="avatar checkout-icon p-1">
                                        <div class="avatar-title rounded-circle bg-primary">
                                            <i class="fas fa-wallet text-white font-size-20"></i>
                                        </div>
                                    </div>
                                    <div class="feed-item-list">
                                        <div>
                                            <h5 class="font-size-16 mb-4">Thông tin thanh toán</h5>
                                        </div>
                                        <div>
                                            <h5 class="font-size-14 mb-3">Phương thức thanh toán :</h5>
                                            <div class="row">
                                                <!-- <div class="col-lg-3 col-sm-6">
                                                    <div data-bs-toggle="collapse">
                                                        <label class="card-radio-label">
                                                            <input type="radio" name="pay-method" id="pay-methodoption1" class="card-radio-input">
                                                            <span class="card-radio py-3 text-center text-truncate">
                                                                <i class="bx bx-credit-card d-block h2 mb-3"></i>
                                                                Credit / Debit Card
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div> -->
    
                                                <div class="col-lg-12 col-sm-12">
                                                    <div>
                                                        <label class="card-radio-label w-75">
                                                            <input type="radio" name="pay-method" id="pay-methodoption2"
                                                                class="card-radio-input">
                                                            <span class="card-radio ps-4 text-start text-truncate mb-2">
                                                                <img th:src="@{/shop/image/vnpay.png}" class="avatar-sm me-2" alt="">
                                                                <strong>Thanh toán qua ví VNPay</strong>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
    
                                                <div class="col-lg-12 col-sm-12">
                                                    <div>
                                                        <label class="card-radio-label w-75">
                                                            <input type="radio" name="pay-method" id="pay-methodoption3"
                                                                class="card-radio-input" checked="">
                                                            <span class="card-radio ps-4 text-start text-truncate">
                                                                <img th:src="@{/shop/image/cod.png}" class="avatar-sm me-2" alt="">
                                                                <strong>Thanh toán khi nhận hàng</strong>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
    
                    <div class="row my-4">
                        <div class="col">
                            <a th:href="@{/shop/home}" class="btn btn-link text-muted">
                                <i class="fas fa-arrow-left me-1"></i> Tiếp tục mua hàng </a>
                        </div> <!-- end col -->
                        <div class="col">
                            <div class="text-end mt-2 mt-sm-0">
                                <a href="#" class="btn btn-success">
                                    <i class="mdi mdi-cart-outline me-1"></i> Thanh toán </a>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row-->
                </div>
                <div class="col-xl-6">
                    <div class="card checkout-order-summary">
                        <div class="card-body">
                            <div class="p-3 bg-light mb-3 d-flex">
                                <div class="font-size-16 mb-0 mr-auto">Đơn Hàng Của Bạn</div>
                                <a th:href="@{/shop/auth/cart}" class="ms-auto">Thay đổi</a>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-centered mb-0 table-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0" style="width: 110px;" scope="col"></th>
                                            <th class="border-top-0" scope="col">Tên sản phẩm</th>
                                            <th class="border-top-0" scope="col">Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><img th:src="@{/shop/image/product/6651_sm.jpg}"
                                                    alt="product-img" title="product-img" class="avatar-lg rounded"></th>
                                            <td>
                                                <h5 class="font-size-16 text-truncate"><a href="#"
                                                        class="text-dark">Waterproof Mobile Phone</a></h5>
                                                <p class="text-muted mb-0 mt-1">45.000 vnđ x 2</p>
                                            </td>
                                            <td>90.000 vnđ</td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><img th:src="@{/shop/image/product/6733_sm.jpg}"
                                                    alt="product-img" title="product-img" class="avatar-lg rounded"></th>
                                            <td>
                                                <h5 class="font-size-16 text-truncate"><a href="#"
                                                        class="text-dark">Smartphone Dual Camera</a></h5>
                                                <p class="text-muted mb-0 mt-1">49.000 vnđ x 1</p>
                                            </td>
                                            <td>40.000 vnđ</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h5 class="font-size-14 m-0">Tổng Tiền :</h5>
                                            </td>
                                            <td>
                                                130.000 vnđ
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h5 class="font-size-14 m-0">Giảm Giá :</h5>
                                            </td>
                                            <td>
                                                - 10.000 vnđ
                                            </td>
                                        </tr>
    
                                        <tr>
                                            <td colspan="2">
                                                <h5 class="font-size-14 m-0">Phí Vận Chuyển :</h5>
                                            </td>
                                            <td>
                                                30.000 vnđ
                                            </td>
                                        </tr>
     
                                        <tr class="bg-light">
                                            <td colspan="2">
                                                <h5 class="font-size-14 m-0">Tổng Thanh Toán :</h5>
                                            </td>
                                            <td>
                                                150.000 vnđ
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="p-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control me-2" placeholder="Nhập mã giảm giá">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary">ÁP dụng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
    
        </div>
    </div>

    <div th:replace="/shop/layout/footer :: footer"></div>

</body>

</html>