<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/shop/layout/head :: head">
</head>

<body class="gradient-custom-user">

    <!-- Navigation-->
    <div th:replace="/shop/layout/navigation :: nav"></div>
    <hr class="container">
    <section class="py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 p-4 bg-light">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0 mx-auto w-75 h-50 image-detail-product img-thumbnail p-3"
                        th:src="@{|/shop/image/product/${gallary.hinhAnh}|}" alt="..." />
                    <p class="mt-3 fw-lighter text-center">Hình ảnh minh họa</p>
                </div>
                <div class="col-md-6">
                    <h1 class=" fw-bolder pb-3" th:utext="${gallary.tenBoSach}"></h1>

                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12 fs-6 mt-3">Tác giả: <span th:text="${tacGia}"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-2 mt-3 mb-3">
                        <div class="col-md-6">
                            <div class="d-flex">
                                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    <i class="bi-cart-fill me-1"></i>
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="fs-5 border border-dark p-2 rounded-3">Mô tả sản phẩm</p>
                        </div>
                        <div class="m-2" th:utext="${gallary.moTa}">
                        </div>
                        <hr class="w-75 mx-auto mt-3">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-1 bg-light" th:fragment="related">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Danh Sách Sản Phẩm</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div th:each="p: ${products}">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div th:if="${p.tiLeGiamGia > 0}">
                                <div class="badge bg-dark text-white position-absolute"
                                    style="top: 0.5rem; right: 0.5rem" th:utext="${p.tiLeGiamGia} + '%'">
                                </div>
                            </div>
                            <!-- Product image-->
                            <div class="image-container">
                                <img class="card-img-top mx-auto" th:src="@{|/shop/image/product/${p.hinhAnh}|}"
                                    alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a th:href="@{|/shop/product/${p.isbn}|}" class="text-decoration-none text-black">
                                        <h5 class="fw-bolder ht-2" th:utext="${p.tenSach}"></h5>
                                    </a>
                                    <!-- Product reviews-->
                                    <!-- <th:set var="isVisible" th:value="${p.DanhGia}"></th:set>
                                        <div th:if=""></div> -->
                                    <!-- Product price-->
                                    <p th:text="${#numbers.formatDecimal(p.donGia, 0, 0, 'COMMA')}"></p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 justify-content-center border-top-0 bg-transparent d-flex">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" th:href="@{/shop/buy-now}"
                                        data-isbn="${p.isbn}">Mua ngay</a>
                                </div>
                                <div class="text-center ms-3">
                                    <a class="btn btn-outline-dark mt-auto" th:href="@{/shop/product/add-to-cart}"
                                        data-isbn="${p.isbn}"><i class="fas fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="/shop/layout/footer :: footer"></div>

</body>

</html>