<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="myApp">

<head th:replace="/shop/layout/head :: head">

</head>

<body ng-controller="myCtrl">

    <div th:replace="/shop/layout/navigation :: nav"></div>

    <section class="pt-3">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row mb-3 pb-3">
                <div class="col-lg-5">
                    <div class="fs-5 p-2 border border-dark rounded-3">DANH SÁCH
                        SẢN PHẨM</div>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2">
                    <select id="sort-selector" class="text-center p-2 border border-dark rounded-3">
                        <option value="default">Mặc định</option>
                        <option value="price-low-to-high">Giá từ thấp đến cao</option>
                        <option value="price-high-to-low">Giá từ cao đến thấp</option>
                    </select>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div th:each="p: ${list}">
                    <div class="col mb-3" th:data-category="${p.phanLoai.id}">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div th:if="${p.tiLeGiamGia > 0}">
                                <div class="badge bg-danger text-white position-absolute"
                                    style="top: 0.5rem; right: 0.5rem" th:utext="'- ' + ${p.tiLeGiamGia} + '%'">
                                </div>
                            </div>
                            <!-- Product image-->
                            <div class="image-container">
                                <img class="card-img-top mx-auto" th:src="@{|/shop/image/product/${p.hinhAnh}|}"
                                    alt="..." />
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4 h-75">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a th:href="@{|/shop/product/${p.isbn}|}" loading="lazy"
                                        class="text-decoration-none text-black">
                                        <h5 class="fw-bolder ht-2" th:utext="${p.tenSach}"></h5>
                                    </a>
                                    <!-- Product price-->
                                    <div th:if="${p.tiLeGiamGia == 0}">
                                        <p class="text-danger fw-bold"
                                            th:text="${#numbers.formatDecimal(p.giaBan, 3, 'POINT', 0, 'POINT')} + ' vnđ'">
                                        </p>
                                    </div>
                                    <div th:if="${p.tiLeGiamGia > 0}" class="justify-content-center d-flex">
                                        <p class="text-danger fw-bold me-3"
                                            th:text="${#numbers.formatDecimal(p.giaGiam, 3, 'POINT', 0, 'POINT')} + ' vnđ'">
                                        </p>
                                        <span class="text-decoration-line-through text-gray"
                                            th:text="${#numbers.formatDecimal(p.giaBan, 3, 'POINT', 0, 'POINT')} + ' vnđ'"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 justify-content-center border-top-0 bg-transparent d-flex">
                                <div class="text-center">
                                    <a class="btn btn-outline-warning mt-auto"
                                        th:href="@{/shop/buy-now(isbn=${p.isbn}, quantity=1)}"
                                        th:data-isbn="${p.isbn}">Mua ngay</a>

                                </div>
                                <div class="text-center ms-3">
                                    <a class="btn btn-outline-warning mt-auto" th:href="@{/shop/product/add-to-cart}"
                                        th:data-isbn="${p.isbn}"><i class="fas fa-cart-plus"></i></a>
                                </div>
                                <div class="text-center ms-3">
                                    <a class="btn border border-warning mt-auto"
                                        th:href="@{|/shop/product/add-to-favorite|}" th:data-isbn="${p.isbn}"><i
                                            class="far fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-lg-5"></div>
                <div class="col-lg-2 text-center">
                    <div class="ms-3 fs-5 p-2 border border-dark rounded-3"><a th:href="@{/shop/list-product}"
                            class="text-decoration-none text-black">Xem
                            thêm...</a></div>
                </div>
                <div class="col-lg-5"></div>
            </div>
    </section>

    <section class="pt-3 pb-5" th:fragment="gallary">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row pb-3">
                <div class="col-lg-5">
                    <div class="fs-5 p-2 border border-dark rounded-3">DANH SÁCH
                        BỘ SÁCH</div>
                </div>
                <div class="col-lg-5"></div>
                <div class="col-lg-2 text-center"></div>
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <div class="image-container">
                            <img class="card-img-top mx-auto" th:src="@{/shop/image/product/6651_sm.jpg}" alt="..." />
                        </div>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">View
                                    options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-lg-10 text-center">
                        <div class="ms-3 fs-5 p-2 border border-dark rounded-3">Xem
                            thêm...</div>
                    </div>
                </div>
            </div>
    </section>

    <div th:replace="/shop/layout/footer :: footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script th:src="@{/shop/js/list-item.js}"></script>
</body>

</html>